@model IEnumerable<PizzeriaInFornoWebApp.Models.Product>

@{
    ViewData["Title"] = "Prodotti Disponibili";
}

<div class="container mt-5">
    <h2 class="text-center">Prodotti Disponibili</h2>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Prezzo</th>
                <th>Tempo di Consegna</th>
                <th>Ingredienti</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.DeliveryTime minuti</td>
                    <td>@string.Join(", ", product.ProductIngredients.Select(pi => pi.Ingredient.Name))</td>
                    <td>
                        <a asp-action="AddToOrder" asp-route-id="@product.Id" class="btn btn-primary">Aggiungi all'Ordine</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
