@model PizzeriaInFornoWebApp.Models.Order

@{
    ViewData["Title"] = "Riepilogo Ordine";
}

<div class="container mt-5">
    <h2 class="text-center">Riepilogo Ordine</h2>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Prodotto</th>
                <th>Quantità</th>
                <th>Prezzo</th>
                <th>Totale</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.OrderItems)
            {
                <tr>
                    <td>@item.Product.Name</td>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Price</td>
                    <!--<td>@item.//TotalPrice</td>-->
                </tr>
            }
        </tbody>
    </table>

    <p>Indirizzo di Spedizione: @Model.ShippingAddress</p>
    <p>Note: @Model.Notes</p>

    <form asp-action="CompleteOrder" method="post">
        <button type="submit" class="btn btn-primary">Concludi Ordine</button>
    </form>
</div>
