@model IEnumerable<PoliziaApp.Models.ViolazioneSupera10Punti>

<h2>Violazioni che Superano i 10 Punti</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.Cognome)</th>
        <th>@Html.DisplayNameFor(model => model.Nome)</th>
        <th>@Html.DisplayNameFor(model => model.DataViolazione)</th>
        <th>@Html.DisplayNameFor(model => model.IndirizzoViolazione)</th>
        <th>@Html.DisplayNameFor(model => model.Importo)</th>
        <th>@Html.DisplayNameFor(model => model.DecurtamentoPunti)</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Cognome)</td>
            <td>@Html.DisplayFor(modelItem => item.Nome)</td>
            <td>@Html.DisplayFor(modelItem => item.DataViolazione)</td>
            <td>@Html.DisplayFor(modelItem => item.IndirizzoViolazione)</td>
            <td>@Html.DisplayFor(modelItem => item.Importo)</td>
            <td>@Html.DisplayFor(modelItem => item.DecurtamentoPunti)</td>
        </tr>
    }

</table>
